



.patins-animation {
   width: 35.5rem;
    height: 35.5rem;

  


 .content {
 position: relative;
 left: 5.5rem;

  
 }

 & img {
   position: absolute;
      
 }

  & img:nth-child(1) {
   

  }

  & img:nth-child(3) {
    width: 2rem;
 }

  & img:nth-child(4) {
    width: 2rem;
 }




}